@model TkanicaWebApp.Models.Transaction

@{
    ViewData["Title"] = "Izmena transakcije";
}

<h1>Izmena transakcije</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                Broj transakcije
                <input asp-for="TransactionNumber" class="form-control" value=@Model.TransactionNumber />
                <span asp-validation-for="TransactionNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                Vrsta transakcije
                <select asp-for="TransactionTypeId" class="form-control" asp-items="ViewBag.TransactionTypeId"></select>
            </div>
            <div class="form-group">
                Račun
                <select asp-for="BalanceId" class="form-control" asp-items="ViewBag.BalanceId"></select>
            </div>
            <div class="form-group">
                Član (za članarine i gotovinske donacije)
                <select asp-for="MemberId" class="form-control" asp-items="ViewBag.MemberId"></select>
            </div>
            <div class="form-group">
                Zaposleni (za zarade)
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                Uplatilac (za bezgotovinske transakcije)
                <select asp-for="DebtorId" class="form-control" asp-items="ViewBag.DebtorId"></select>
            </div>
            <div class="form-group">
                Primalac (za bezgotovinske transakcije)
                <select asp-for="CreditorId" class="form-control" asp-items="ViewBag.CreditorId"></select>
            </div>
            <div class="form-group">
                Poziv na broj
                <input asp-for="ReferenceNumber" class="form-control" />
                <span asp-validation-for="ReferenceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                Iznos
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                Opis
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Paid" /> Realizovana transakcija
                </label>
            </div>
            <div class="form-group">
                Datum transakcije
                <input asp-for="TransactionDate" class="form-control" />
                <span asp-validation-for="TransactionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                Datum plaćanja
                <input asp-for="PaidDate" class="form-control" />
                <span asp-validation-for="PaidDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sačuvaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Povratak na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
